#canvas{
    
   /* margin-top: 100px;*/
    margin-left: auto;
    margin-right: auto;
    background: url("../Assets/images/slot-machine.jpg");
    background-repeat: initial;
}

.image1 {
    position:absolute; 
    TOP:60px; 
    LEFT:60px; 
    WIDTH:100px;
    HEIGHT:150px
}
.image2{
    position:absolute; 
    TOP:60px; 
    LEFT:210px; 
    WIDTH:100px;
    HEIGHT:150px
}
.image3{
    position:absolute; 
    TOP:60px; 
    LEFT:360px; 
    WIDTH:100px;
    HEIGHT:150px

}
